@import "../../node_modules/prismjs/themes/prism";
@import "../../node_modules/prismjs/themes/prism-twilight";
@import "../../node_modules/prismjs/plugins/toolbar/prism-toolbar";
@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers";

.token.operator {
    background: initial;
}

code[class*="language-"], pre[class*="language-"] {
    text-shadow: initial;
}

.token.punctuation {
    opacity: 1;
    color: white;
}
